<tr>
  <td><span><%= get_index_page newspaper_counter %></span></td>
  <td><%= newspaper.title %></td>
  <td>
      <%= image_tag "#{newspaper.image}" , class: "mx-auto img-fluid img-circle d-block mw", alt: "avatar" %>
  </td>
  <td><%= newspaper.created_at.strftime(t("format_time")) %></td>
  <td><%= newspaper.updated_at.strftime(t("format_time")) %></td>
  <td class="text-center">
    <%= link_to edit_admin_newspaper_path(newspaper) do %>
    <i class="fa fa-pencil fa-fw fa-update"></i>
    <% end %>   
    <%= link_to [:admin, newspaper], method: :delete, data:{ confirm: t("you_sure")} do %>
    <i class="fa fa-trash-o fa-fw fa-delete"></i>
    <% end %>    
  </td>
</tr>
