<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <span class="login100-form-title p-b-51">
      <%= t("change_profile") %>
      </span>
      <div class="wrap-input100 validate-input m-b-16">
        <%= f.text_field :name, autofocus: true, autocomplete:"#{t("name")}", class:"input100", placeholder: "#{t("name")}" %>
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input m-b-16">
        <%= f.email_field :email, autofocus: true, autocomplete:"#{t("email")}", class:"input100", placeholder: "#{t("email")}" %>
        <span class="focus-input100"></span>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <div class="wrap-input100 validate-input m-b-16">           
        <%= f.password_field :password, autocomplete:"#{t("password")}", class:"input100", placeholder: "#{t("password")}" %>
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input m-b-16">
        <%= f.password_field :password_confirmation, autocomplete:"#{t("password_confirmation")}", class:"input100", placeholder: "#{t("password_confirmation")}" %>
        <span class="focus-input100"></span>
      </div>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <div class="wrap-input100 validate-input m-b-16">
        <%= f.password_field :current_password, autocomplete:"#{t("current_password")}", class:"input100", placeholder: "#{t("current_password")}" %>
      </div>
      <div class="container-login100-form-btn m-t-17">
        <%= f.submit t("update"), class:"login100-form-btn" %>
      </div>
      <% end %>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
