<%= form_for [:admin, @football_club] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-group col-sm-6">
    <%= f.text_field :name, autofocus: true, class: "form-control form-control-user",
      placeholder: t("football_club") %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.text_field :member, autofocus: true, class: "form-control form-control-user",
      placeholder: t("member") %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.text_field :stadium, autofocus: true, class: "form-control form-control-user",
      placeholder: t("stadium") %>
  </div>

  <div class="form-group">
    <%= f.label :logo %><br>
    <%= f.file_field :logo, accept: "image/png,image/gif,image/jpeg" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "ckeditor" %>
  </div>
  
  <%= button_tag t("submit"), type: "submit", class: "btn btn-primary" %>
  <%= button_tag t("reset"), type: "reset", class: "btn btn-default" %>
<% end %>
