<%= provide :title, t("list_categories") %>
<%= link_to t("create_categories"), new_admin_category_url, class: "btn btn-primary" %>
<hr class="invisible">
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= t "list_categories" %></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr class="text-center">
            <th><%= t ".stt" %></th>
            <th><%= t ".name" %></th>
            <th><%= t ".created_time" %></th>
            <th><%= t ".update_time" %></th>
            <th><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "category", collection: @categories %>	
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @categories, theme: t("theme_paging") %>
