<%= provide :title, t("list_user") %>
<%= link_to t("create_user"), new_admin_user_url, class: "btn btn-primary" %>
<hr class="invisible">
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= t "list_user" %></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr class="text-center">
          <th><%= t "stt" %></th>
          <th><%= t "name" %></th>
          <th><%= t "avatar" %></th>
          <th><%= t "email" %></th>
          <th><%= t "role" %></th>
          <th><%= t "action" %></th>
        </tr>
        </thead>
        <tbody>
          <%= render partial: "user", collection: @users %>
        </tbody>    
      </table>      
    </div>
  </div>
</div>
<%= paginate @users, theme: t("theme_paging") %>
